html, body{
    margin: 0;
    padding: 0;
}
body{
    background: #003333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#quiz {
    background: #e3f6f5;
    width: 30rem;
    pad: 4rem;
    text-align: center;
    
}
h1{
    color: #57636c;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0px;
}
#question{
    font-size: 1.7rem;
    color: #5a6772;

}
.button {
    background-color: #009966;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px 0px;
    outline: 0;  
}
.button:hover{
    cursor: pointer;
    background: #57636c;
}
#progress{
    font-size: 20px;

}

 .icono{
    position: relative;
    left: 225px;
    top: -5px;
    cursor: pointer;
 }
